<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.css">
    <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="662a21d9-0e41-46bf-951d-198ea22ed89e";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <title>Dashboard</title>
</head>
<h2 class="ui center aligned top attached icon header">
    <i class="circular users icon"></i>
    Dashboard
</h2>
<br>
<br>
<br>
<body>

<h2 style="text-align: center;color:purple;">Balance</h2>

<div class="ui centered card">
    <div class="image">
        <img src="/images/wallet.svg">
    </div>
    <div class="content">
        <a class="center aligned header">0.0000000<i class="orange bitcoin icon"></i> </a>
    </div>
    <div class="extra content">
        <div class="ui accordion">
            <div class="active title">
                <center><button class="ui massive red inverted button">Deposit</button></center>
            </div>
            <div class="content">
                <p style="color: red;font-weight: bold">min:0.001 <i class="orange bitcoin icon"></i> </p>
                <p style="color: red;font-weight: bold">max:2 <i class="orange bitcoin icon"></i> </p>
                <p style="color:cyan">your deposit address: <b style="color: deeppink"><%= deposit %></b></p>
            </div>
        </div>



    </div>
</div>
<br>
<br>
<br>
<h2 style="text-align: center;color:purple;">Referral</h2>

<div class="ui centered card">
    <div class="image">
        <img src="/images/teamwork.svg">
    </div>
    <div class="content">
        <a class="center aligned header"><b><%= friends %></b><i class=" users icon"></i> </a>
    </div>
    <div class="extra content">
        <div class="ui accordion">
            <div class="active title">
                <center><button class="ui massive purple inverted button">Referral link</button></center>
            </div>
            <div class="content">
                <p>Share the below link with your friends and get 10% of his/her deposits</p>
                <p style="color: green;font-weight: bolder">https://doublebits.now.sh?=<%= ref %></p>
            </div>
        </div>



    </div>
</div>

<div class="withdraw">
    <h2 class="animated fadeIn delay-2s infinite">Automated Withdrawals</h2>
    <br>
    <br>
    <img src="/images/withdraw.svg">
    <p>All withdrawals are automated<br>Withdrawals will be sent to your address which you used to login with <br>automatically as soon as your bitcoins get doubled</p>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.js"></script>
<script src="/javascripts/dashboard.js"></script>
</body>
</html>